body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}

.text-center {
	text-align: center;
}

.display-inline {
	display: inline-block;
}

.errorBlock {
	color: red;
	background-color: #ffEEE;
	boder: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.error {
	color: #ff0000;
}